h1 {
    text-align: center;
    font-size: 22px;
}

a#back {
    font-style: italic;
}

h3 {
    text-align: center;
}

.content a:link {
    background-color: #0000ff;
    color: #ffff00;
    display: block;
    width: 200px;
    text-align: center;
}

.content a:hover {
    background-color: #ff00ff;
    color: #d3ff00;
}

.content a:visited {
    background-color: #ffff00;
    color: #ff0024;
}

p {
    font-size: 120%;
}

h4 {
    font-size: 140%;
}

/*#start > p {
    background-color: #00FF92;
    color: #FF4900;
}

#kids > p {
    background-color: #0000ff;
    color: #ffff00;
}

#school > p {
    background-color: #ffff00;
    color: #ff0000;
}

#school1 > p {
    background-color: #a52a2a;
    color: #ffebcd;
}

#universaty > p {
    background-color: #c0c0c0;
    color: #00008b;
}*/

article > a {
    font-weight: 600; /*Напівжирний*/
}

.up {
    text-transform: uppercase;
}

.content1 {
    border: solid 1px black;
    padding: 0 10px 10px 10px;
}

#start0 {
    background-color: #00FF92;
    color: #FF4900;
}

#kids0 {
    background-color: #0000ff;
    color: #ffff00;
    float: right;
}

#school0 {
    background-color: #ffff00;
    color: #ff0000;
}

#school10 {
    background-color: #a52a2a;
    color: #ffebcd;
    float: right;
}

#universaty0 {
    background-color: #c0c0c0;
    color: #00008b;
}
.content1{
    height: 350px;
}
/*Доробити*/