h1 {
    text-align: center;
    font-size: 22px;
}

a#back {
    font-style: italic;
}

h3 {
    text-align: center;
}

.content {
    padding: 0 0 0 10px;

}

.content a {
    display: block;
    width: 200px;
    text-align: center;
}

.content a:any-link {
    color: #ffff00;
    background-color: #0000ff;
}

.content a:hover {
    background-color: #ff00ff;
    color: #ffff00;
}

.content a:active {
    background-color: #ffff00;
    color: #ff0024;
}

p {
    font-size: 120%;
}

h4 {
    font-size: 140%;
}

article > a {
    font-weight: 600; /*Напівжирний*/
}

.up {
    text-transform: uppercase;
    padding-top: 20px;
}

.content1 {
    border: solid 1px black;
    padding: 40px 10px 10px 10px;
    height: 450px;
}

#start0 {
    background-color: #00FF92;
    color: #FF4900;
}

#kids0 {
    background-color: #0000ff;
    color: #ffff00;

}

#school0 {
    background-color: #ffff00;
    color: #ff0000;
}

#school10 {
    background-color: #a52a2a;
    color: #ffebcd;

}

#universaty0 {
    background-color: #c0c0c0;
    color: #00008b;
}

@media (min-width: 993px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
    .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding: 0 12px;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        padding: 0 12px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
    .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        padding: 0 12px;
        margin-bottom: 20px;
    }
}