h1 {
    text-align: center;
    font-size: 20px;
}

#back {
    font-style: italic;
}

h2 {
    text-align: center;
}

#photo1 {
    text-align: center;
    font-size: 1.2em;
}

#photo2 {
    text-align: center;
    font-size: 1.8em;
}

#photo3 {
    text-align: center;
    font-size: 2.1em;
}

img {
    max-width: 100%;
    max-height: 480px;

}

h3 {
    margin-top: 40px;
    margin-bottom: 40px;
}
