h1 {
    text-align: center;
}

.content {
    background-color: #808080;
    height: 170px;
    position: relative; /* 1 */
}

/* Large devices */
@media (min-width: 993px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        padding: 10px;
    }

    .content {
        border: 3px solid #008000;
    }
}

/* Medium devices */
@media (min-width: 769px) and (max-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
    .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        padding: 10px;
    }

    .content {
        border: 3px solid #0000ff;
    }
}

/* Small devices */
@media (max-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
    .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
        padding: 10px;
    }

    .content {
        border: 3px solid #ffff00;
    }
}

/*h3 {
    margin-top: auto;
    margin-left: auto;
    width: 4em;
    text-align: center;
    border: 1px solid black;
}
Задання без позицінування
*/


#Row1 {
    background-color: #ffc0cb;

}

#Row2 {
    background-color: #ff0000;
}

#Row3 {
    background-color: #deb887;
}

.content p {
    padding: 0 10px 0 10px;
    position: absolute; /*2*/
    top: 50%; /*3*/
    transform: translate(0, -50%); /*4*/
}

a {
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
}

a:link {
    color: red;
    background-color: yellow;
}

a:visited {
    color: yellow;
    background-color: blue;
}

div h3 {
    margin: auto;
    position: absolute; /*Абсолютне позицінування*/
    top: 0;
    right: 0;
    width: 4em;
    border: 1px solid black;
    text-align: center;
}