* {
    font-family: 'Shippori Mincho B1', serif;
}

h1 {
    text-align: center;
    font-size: 22px;
}

a#back {
    font-style: italic;
}

h3 {
    text-align: center;
}

.content a:link {
    background-color: #0000ff;
    color: #ffff00;
    display: block;
    width: 200px;
    text-align: center;
}

.content a:hover {
    background-color: #ff00ff;
    color: #d3ff00;
}

.content a:visited {
    background-color: #ffff00;
    color: #ff0024;
}

p {
    font-size: 120%;
}

h4 {
    font-size: 140%;
}

article > a {
    font-weight: 600; /*Напівжирний*/
}

.up {
    text-transform: uppercase;
    padding-top: 20px;
}

.content1 {
    border: solid 1px black;
    padding: 40px 10px 10px 10px;
}

#start0 {
    background-color: #00FF92;
    color: #FF4900;
    margin-bottom: 20px;
}

#kids0 {
    background-color: #0000ff;
    color: #ffff00;
    float: right;
    margin-bottom: 20px;

}

#school0 {
    background-color: #ffff00;
    color: #ff0000;
    margin-bottom: 20px;
}

#school10 {
    background-color: #a52a2a;
    color: #ffebcd;
    float: right;
    margin-bottom: 20px;

}

#universaty0 {
    background-color: #c0c0c0;
    color: #00008b;
    margin-bottom: 20px;

}

HR {
    width: 100%;
    height: 1px;
}

.row {
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
}
