* {
    font-family: 'DotGothic16', sans-serif;
}

h1 {
    text-align: center;
    font-size: 22px;
}

#back {
    font-style: italic;
}

h2 {
    text-align: center;
}

tr:nth-child(1) {
    text-align: center;
    background-color: #22c313;
    color: #ea1721;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #808080;
    color: #0c116c;
}

th {
    padding: 5px;
    border: 3px solid #ff0000;
}

td {
    text-align: center;
    padding: 5px;
    border: 3px solid #0c116c;
}

caption {
    font-size: 20px;
    text-align: center;
}

table {
    border: 3px solid #000000;
}

td:nth-child(5) {
    text-align: right;
}


@media (min-width: 1200px) {

    th {
        font-size: 160%;
    }

    td {
        font-size: 140%;
    }
}

/* Large devices */
@media (min-width: 993px) {

    th {
        font-size: 130%;
    }

    td {
        font-size: 120%;
    }
}

/* Medium devices */
@media (min-width: 769px) and (max-width: 992px) {


    th {
        font-size: 120%;
    }

    td {
        font-size: 110%;
    }
}

/* Small devices */
@media (max-width: 768px) {


    th {
        font-size: 110%;
    }

}

@media (max-width: 576px) {

    th {
        font-size: 100%;
    }

}

table {
    caption-side: top;
}