* {
    font-family: 'Dancing Script', cursive;
}

.text__justify {
    text-align: justify;
}

.navbar-brand {
    font-size: 35px;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #f00d42;
}

.navbar-light .navbar-toggler {
    color: #f00d42;
    border-color: #f00d42;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.55);
}

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9);
}

.card {
    border-color: #f00d42;
}

.bg-info {
    background-color: #07525e !important;
}

.btn-outline-info {
    color: #07525e;
    border-color: #f00d42;
}

.btn-outline-info:hover {
    color: #ffffff;
    background-color: #07525e;
    border-color: #f00d42;
}

/*Для горизонтального заповнення*/
.btn {
    transition: all 500ms ease;
    position: relative;
}

.btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.3);
    transition: all 2s ease;
}

.btn:hover:before {
    width: 100%;
}

.loader__position {
    margin: 520px auto;
}

.nav-link {
    font-size: 30px;
    display: block;
    width: 100px;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-link {
        width: auto;
    }

    .row {
        --bs-gutter-x: 0;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(106, 6, 34, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    background-color: #ffffff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: #f00d42;
}



